{% extends "frontend/_base.html" %}

{% block content %}

    <h1>This is a dashboard!</h1>
    <p>
        [<a href="/">Back to landing page</a>]
        [<a href="/page1">Page 1</a>]
        [<a href="/page2">Page 2</a>]
        [<a href="/page3">Page 3</a>]
    </p>

    {% block dashboard_content %}
    {% endblock %}

{% endblock %}