{% extends "frontend/_base.html" %}

{% block title %}Landing page!{% endblock %}

{% block content %}
    <h1>This is a landing page!</h1>
    <p>
    Click <a href="/page1">here</a> to access the dashboard!
    </p>
{% endblock %}